{% extends 'base.html' %}
{% load static %}

        {%block content%}

<br>

        
<div class="card-container" style="margin-top: 150px;" >
  <div class="card-top learn">
    <span class="project-type">Project</span>
   <div class="blur"></div>
  </div>
 
  <div class="content">
 
    <div class="title">Earlycamp hoodie</div>
    <div class="summary">Learn to paint from youtube channel
                and complete the assassinn creed picture.</div>
    <button class="btn"> Buy </button>

  </div>
</div>





    <script src="js/scroll.js"></script>
 <script src="js/app.js"></script>
    <script src="js/foundation.min.js"></script>
{%endblock%}
